<footer>
    <div class="container">
        <div class="row">
            <div class="center-block">
                <nav class="nav">
                    <a class="nav-link" href="#home">Home</a>
                    <a class="nav-link" href="#about">About</a>
                    <a class="nav-link" href="#work">Work</a>
                    <a class="nav-link" href="#blog">Blog</a>
                    <a class="nav-link" href="#contact">Contact</a>
                </nav>
            </div>
        </div>
        <div class="row footer-contact">
            <div class="col-md-4 col-sm-6 col-xs-12 copy">
                <span class="copyright">Copyright &copy; 2017 <a href="#home" class="name">Antonijo Galic</a>
                </span>
            </div>
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12 social">
                <a href="#"><span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span></a>
                <a href="#"><span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span></a>
                <a href="#"><span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span></a>
                <a href="#"><span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
        </span></a>
                <a href="#"><span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
        </span></a>
            </div>
        </div>
    </div>
</footer>


<!-- ==Font Awesome CDN embed code== -->
<script src="https://use.fontawesome.com/8974293ce0.js"></script>

<!-- ==Bootstrap core JavaScript== -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>

<!-- ==3D Grid Effect JavaScript== -->
<script src="assets/js/classie.js"></script>
<script src="assets/js/helper.js"></script>
<script src="assets/js/grid3d.js"></script>
<script>
    new grid3D(document.getElementById('grid3d'));
</script>

<!-- ==Custom JavaScript== -->
<script src="assets/js/script.js"></script>

</body>

</html>