<div id="#work" class="work">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h3>Work</h3>
            </div>
        </div>
        <section class="grid3d horizontal" id="grid3d">
            <div class="grid-wrap">
                <div class="grid">
                    <figure><img src="/assets/images/headerc.jpg" alt="img01" /></figure>
                    <figure><img src="/assets/images/headerc.jpg" alt="img02" /></figure>
                    <figure><img src="/assets/images/headerc.jpg" alt="img03" /></figure>
                </div>
            </div>
            <!-- /grid-wrap -->
            <div class="content">
                <div>
                    <div class="dummy-img"></div>
                    <p class="dummy-text">Some text</p>
                    <p class="dummy-text">Some more text</p>
                </div>
                <div>
                    <div class="dummy-img"></div>
                    <p class="dummy-text">Some text</p>
                    <p class="dummy-text">Some more text</p>
                </div>
                <div>
                    <div class="dummy-img"></div>
                    <p class="dummy-text">Some text</p>
                    <p class="dummy-text">Some more text</p>
                </div>
                <span class="loading"></span>
                <span class="icon close-content"></span>
            </div>
            <!-- /content -->
        </section>
    </div>
</div>