
.about
  padding-top: 5em
  padding-bottom: 5em

  .silhouette
    margin-top: 3em
    margin-bottom: 2em

  p
    font:
      font-family: 'Open Sans', sans-serif
      size: 1.2em
      weight: 300
    margin-top: 1em
    letter-spacing: .03em

    span
      color: $primary-color